node_modules/
.expo/
dist/
web-build/

android/local.properties
android/build/
android/app/build/
android/.gradle/
android/.cxx/
android/app/.cxx/
android/.kotlin/
modules/*/android/build/
modules/*/android/.gradle/
modules/*/android/.cxx/
modules/*/android/.kotlin/

*.hprof
.DS_Store
